h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Generatebtn, #pastelbtn{
    
}

#Generatebtn:hover, #pastelbtn:hover {
    color: black;
    box-shadow: 0 1px 16px 0 red;

}